@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
--color-store-50: #f0f1ff;
--color-store-100: #e4e5ff;
--color-store-200: #cdd0ff;
--color-store-300: #a6a8ff;
--color-store-400: #7773ff;
--color-store-500: #4c3bff;
--color-store-600: #3614ff;
--color-store-700: #2200ff;
--color-store-800: #1d01d6;
--color-store-900: #1a03af;
--color-store-950: #0a0077;








}
@layer components{
 
.card{
  @apply border after:content-start after:w-40 relative after:absolute after:top-0 after:bg-linear-to-r after:h-[.7px]  after:from-transparent after:via-white after:to-transparent after:border-amber-500  border-neutral-200 h-40 w-96 rounded-2xl
}

}


@layer base{
  button{
    @apply cursor-pointer
  }
}
body {
  background: #fafafa;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
